* {
    margin:0;
    padding: 0;
}
html,body {
  height: 100%;
}
header, main, footer {
    width: 1040px;
    /*border: black solid 1px;*/
}
#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
     width: 100%;
}
header{
    height:120px;
    width: 1040px;
    margin: 0 auto;    
}
main{
    padding-bottom: 100px;
    width: 1040px;
    margin: 0 auto;   
}
footer{   
    margin: -100px auto 0;
    position: relative;
    height: 100px;
    width: 1040px;
    margin: 0 auto;   
}
body {
    background-color: #380577;
    color: white
}
.main_img-float {
    width: 550px;
    margin-right: 40px;
    float: left;
}
#panorama {
    width: 100%;
    height: 150px;
    background: url(../img/2.jpg) no-repeat center 70%;
    background-size: cover; /*масштабирование фона*/
}
.services_img {
    width: 240px;
    margin-top: 150px;
}
.services_item {
    width: 240px;
    margin: 0 40px;
    float: left;
}
.services {
    padding: 35px;
    border: 5px;
}
a {
    color: red;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
h1 {
    visibility: hidden;
}
.img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.onas_h{
    margin-left: 322px;
}

.services_item {
margin-left: 40px;
margin-right: 40px;
width: 240px;
float:left;
}
.services{
    padding: 35px;
    border: 5px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.h1--invisible {
    visibility: hidden;
}
.onas {
    text-align:initial;
    margin-right: auto;
    margin-left: auto;
    width:550px;
    margin-right:300px;
    margin-left: 228px;
    margin-top: center;
    float:none;
}

.text_kontakt{
    text-align: center;
    font-size: 20px;
    line-height:50px;
}

.purple_text{
    color:#FF00FF;
    line-height:22px;
}

#logo{
    text-transform: uppercase;
    text-decoration:none;
    font-weight: bold;
    line-height: 100px;
    font-size: 24px;
    color:hsl(0, 0%, 100%);
    float:left;
}

.pink{
    color:#e903e9;
    text-transform: uppercase;
}


.footer_block {
    display: inline-block;
    width: 335px;
    text-transform:uppercase;
}

.footer_icons{
    display: inline-block;
    width: 335px;
    text-align: right;
    margin-left: 10px;
}

.footer_img {
    width: 50px;
}

.serif {
    font-family: Verdana, Arial, Arial, Helvetica, sans-serif;
}

.sansserif {
    font-family: Verdana, Arial, Arial, Helvetica, sans-serif;
}

.monospace {
    font-family: Verdana, Arial, Arial, Helvetica, sans-serif;
}

.p {
    font-family:Verdana, Arial, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.index_text{
    line-height:26px;
}

#mainnav{
    list-style: none;
    margin:0;
    padding-left:0;
}

#mainnav li {
    display:inline;
}

#mainnav a {
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    text-decoration:none;
    line-height: 50px;
    font-size: 24px;
    float:left;
    margin-left: 100px;
    margin-top: 25px;
}

#Podrobnee{
    color:rgb(235, 46, 46);
}

.text_podrobnee {
    margin-top: 10px;
}

table{
border-collapse: collapse;
}

.price th:first-child{
width: 10%;
border: 2 px;
}

.price th:nth-child(2), .price th:last-child{
width: 25%;
}

.center{
text-align: center;
}

.left{
text-align: left;
}

th,td{
padding: 10px;
}

tr:nth-child(2n) {
background-color: #8f27d4;
border-top: 2px solid white;
border-bottom: 2px solid white;
}

.center1{
border-bottom: 5px solid #e011e0;
border-top: 5px solid #e011e0;
}

.hm{
text-align: left;
margin: 20px;    
}
#contact-form input[type="text"]{
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #dec7fd;
}
#contact-form input[type="email"]{
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #dec7fd;
}
#contact-form input[type="submit"]{
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #dec7fd;
}
#contact-form input[type="submit"]{
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #dec7fd;
}
#topic {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #dec7fd;
}
#textarea {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #dec7fd;
}
#form_item {
color: #8f27d4 cover;
}
#contact-form input[type="date"]{
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1px;
    background-color: #dec7fd;
}